.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.responsive {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.response {
  display: flex;
  flex-direction: column;
}

.margin{
  margin: 15px;
}

.list-items{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
}

.display{
  display: flex;
  justify-content:space-between;
  align-items: center;
  border: 1px solid #61dafb;
}

#h3 {
  font-size: 26px;
  font-family: "Roboto";
  color: #1ecf59;

}


.form-control{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.heading {
  background-color: #1ecf59;
  color: #fff;
  font-size: 32px;
  font-family: "Roboto";
  text-align: center;
  padding: 8px;
}

.form-radio{
  border: 1px solid #000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px;
  margin: 6px;
  border-radius: 6px;
  width: 200px;
}